@import '../variables'
@import '../mixins'


.spreadsheet__table
  overflow: hidden
  flex: 1 1

.table
  padding-bottom: 2px
  overflow: auto
  height: 100%
  width: 100%

.table__row
  display: flex
  height: $row-height
  min-height: $row-height
  &:first-child
    position: sticky
    top: 0
    z-index: 3

.table__row-info
  position: sticky
  left: 0
  height: 100%
  min-width: $info-cell-width
  display: flex
  justify-content: center
  align-items: center
  background-color: #F8F9FA
  border: 1px solid $grey-100
  border-top: none
  user-select: none
  z-index: 4

.table__row-data
  display: flex

.table__row-column
  position: relative
  width: $cell-width
  min-width: $table-row-width
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: #F8F9FA
  border: 1px solid $grey-100
  border-top: 0
  border-left: 0
  user-select: none

.table__row-cell
  height: 100%
  width: $cell-width
  min-width: $table-row-width
  padding: 4px
  border: 1px solid #E2E3E3
  border-top: 0
  border-left: 0
  white-space: nowrap
  outline: none
  overflow: hidden
  z-index: 2

  &.selected
    border: none
    outline: 2px solid #3C74FF
    z-index: 5

.column__resize, .row__resize
  position: absolute
  background-color: $blue
  opacity: 0
  transition: .2s opacity ease
  z-index: 10

  &:hover
    opacity: 1 !important

.column__resize
  top: 0
  right: -1px
  bottom: 0
  width: $resize-size

  &:hover
    cursor: col-resize

.row__resize
  right: 0
  left: 0
  bottom: -1px
  height: $resize-size

  &:hover
    cursor: row-resize
