@import '../variables'
@import '../mixins'
@import '../ui'

.spreadsheet__toolbar
  padding: 8px
  display: flex
  border-bottom: 1px solid $grey-100

.spreadsheet__toolbar-button
  @extend .button_icon
  @extend .button_transparent
  min-width: 32px
  min-height: 32px
  margin-right: 4px

  user-select: none

  img
    // height: 16px
    width: 16px
