@import 'variables'

.button
  position: relative
  padding: 8px 12px
  display: inline-block
  background-color: rgba($black, .08)
  border: none
  border-radius: $base-border-radius
  transition: .2s all ease
  cursor: pointer

  &:hover
    background-color: rgba($black,.16)

  &:active
    background-color: rgba($black,.24)

.button_icon
  @extend .button
  padding: 6px
  width: 32px
  height: 32px

.button_transparent
  background-color: rgba($black, .04)

  &:hover
    background-color: rgba($black, .08)

  &:active
    background-color: rgba($black,.16)